.pokemons {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0;
    padding: 0;
    list-style: none;
}

.pokemon {
    display: flex;
    flex-direction: column;
    margin: .5rem;
    padding: 1rem;
    border-radius: 1rem;
    min-width: 160px;
    background-color: #49d0b0;
}

.pokemon .number {
    color: #000;
    opacity: .3;
    text-align: right;
    font-size: .625rem;
}

.pokemon .name {
    color: #fff;
    margin-bottom: .25rem;
    text-transform: capitalize;
}

.pokemon .detail {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.pokemon .detail .types {
    padding: 0;
    margin: 0;
    list-style: none;
}

.pokemon .detail .types .type {
    background-color: #ffffff2f;
    color: #fff;
    padding: .25rem .5rem;
    margin: .25rem 0;
    font-size: .625rem;
    border-radius: 1rem;
}

.pokemon .detail img {
    max-width: 100%;
    height: 70px;
}

@media screen and (min-width: 380px) {
    .pokemons {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 576px) {
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 992px) {
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

.grass{
    background-image: linear-gradient(to right, rgb(2, 207, 81) 40%, rgb(82, 238, 142))
}
.fire{
    background-image: linear-gradient(to right, rgb(255, 145, 0) , rgb(255, 199, 96))
}
.water{
    background-image:linear-gradient(to right, rgb(4, 136, 212) , rgb(119, 218, 218))
}
.bug{
    background-image: radial-gradient(rgb(56, 221, 78), rgb(96, 255, 215));
}
.normal{
    background-image: linear-gradient(to right, rgb(90, 100, 146), palevioletred)
}
.electric{
    background-image: linear-gradient(to right, rgb(255, 217, 50) 40%, yellow)
}
.ground{    
    background-image: linear-gradient(to right, rgb(172, 135, 81) 40%, rgb(240, 161, 58))
}
.rock{
    background-image: linear-gradient(to right, gray, rgb(177, 161, 126));
}
.fairy{
    background-image: radial-gradient(rgb(255, 174, 201) , rgb(255, 255, 139),pink 40%);
}
.ice{
    background-color: rgb(151, 209, 211);
}

.pokemon-seletor{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pokemon-seletor .seletor{
    padding: 10px 15px;
    background-color: rgba(255, 255, 255, 0.418);
    border: 2px solid white;
    color: rgb(172, 172, 172);
    border-radius: 100%;
    opacity: 0.5;
    cursor: pointer;
}
.pokemon-seletor .seletor:hover{
    opacity: 1;
}
